requests[socks]>=2.18
pydantic>=1.7.3
homebase>=1.0.0
python-dateutil>=2.7
click>=7
plucky>=0.4.3

# backports
dataclasses; python_version == "3.7"

# optional bqm support
# note: dqm supported in dimod>0.9.6
dimod>=0.8.15
numpy>=1.16