requests[socks]>=2.18
pydantic>=2,<3
homebase>=1.0.0
python-dateutil>=2.7
click>=7
plucky>=0.4.3
diskcache>=5.2.1
packaging>=19
werkzeug>=2.2

# optional bqm support
# note: dqm supported in dimod>0.9.6
# note: cqm supported in dimod>=0.10.0
dimod>=0.10.5,!=0.11.4
numpy>=1.17.3

# for solver mocks
dwave-networkx>=0.8.9

# dev requirements
reno==3.4.0
